node_modules/
/.pnp
.pnp.js

/.next/
/out/

.nuxt/
dist/

.cache/
/public/

/dist/

.serverless/

.fusebox/

.dynamodb/

.tern-port

.DS_Store

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

build/Release

.npm

.eslintcache

*.tgz

.yarn-integrity

.cache

.next

.nuxt

dist/

storybook-static

tmp/
temp/
